<div class="lazy-youtube-player-container">
  <div *ngIf="!isRequestedYoutubeWatch && videoId"
       class="preview-wrapper">
    <div class="preview-image"
         #previewImage
         [style.background-image]="_previewImageURL"
         (click)="requestYoutubeWatch($event)">
      <div class="gradient-top"></div>
      <div class="chrome-top">
        <div class="title-channel"
             *ngIf="_logoImageURL">
          <div class="title-beacon"></div>
          <a class="title-channel-logo"
             [attr.target]="channelId ? '_blank' : null"
             [attr.href]="channelId ? _channelURL : null"
             aria-label="Photo image of channel"
             [style.cursor]="channelId ? 'pointer': 'default'"
             [style.background-image]="_logoImageURL">
          </a>
        </div>
        <div class="title"
             *ngIf="_videoName">
          <div class="title-text"
               [style.padding-left]="_logoImageURL ? '50px': '0px'">
            <a class="title-link yt-uix-sessionlink"
               target="_blank"
               tabindex="-1"
               href="{{_videoURL}}">
              {{_videoName}}
            </a>
          </div>
        </div>
      </div>

      <div class="play-button-wrapper"
           (click)="requestYoutubeWatch()">
        <svg version="1.1" viewBox="0 0 68 48">
          <path class="large-play-button"
                d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z">
          </path>
          <path d="M 45,24 27,14 27,34" fill="#fff"></path>
        </svg>
      </div>
    </div>
  </div>

  <youtube-player videoId="{{videoId}}"
                  *ngIf="isRequestedYoutubeWatch">
  </youtube-player>
</div>
